<div class="nested-fields">
  <% field.nested_fields_for_builder(f).each do |attribute| -%>
    <div class="field-unit field-unit--<%= attribute.html_class %>">
      <%= render_field attribute, f: f %>
    </div>
  <% end -%>

  <% if new_record %>
  <%= link_to_remove_association(
      I18n.t("administrate.actions.destroy"),
      f,
      class: "text-color-red",
      ) %>
  <% else %>
  <%= link_to(
      t("administrate.actions.destroy"),
      [namespace, f.object],
      class: "text-color-red remove_fields",
      method: :delete,
      data: { confirm: t("administrate.actions.confirm") }
      ) %>
  <% end %>
</div>
